* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    font-size: 24px;
    text-align: center;
    background-color: #661424;
    color: white;
    padding: 8px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

main .one .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;
    padding-bottom: .8rem;
}

main img {
    border-radius: 10px;
    width: 55%;
    height: auto;
}

.two {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    text-align: center;
}

.age {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.box {
    width: 200px;
    text-align: center;
}

footer {
    background-color: #661424;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

footer p {
    margin: 0;
    text-align: center;
}